<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Number of active cases: <%= activeCases %></h1>
        <h1>Number of recovered cases: <%= recoveredCases %></h1>
        <h1>Number of deaths: <%= deaths %></h1>
        <h1>Number of total cases: <%= totalCases %></h1>
        <h1>For <%= day %>, <%= newCases %> added number of cases and <%= newDeaths %> added number of deaths.</h1>
        <h1>Last updated on: <%= lastUpdate %></h1>

        <p>For the documentation of the API used:</p><a href= https://api-sports.io/documentation/covid-19> https://api-sports.io/documentation/covid-19</a>
    </div>
</body>

</html>